!!!
%html
  %head
    %title TextToEmail
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/nav'

    %main
      #main-content.container
        .section
          = render 'layouts/flash'
          - if content_for?(:page_title)
            %h1= yield :page_title
        = yield
